# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyz
*.pyw
*.pyc

# Virtual Environment
venv/
env/
ENV/

# PyCharm
.idea/
*.iml
*.ipr
*.iws
*.pycharm_helpers/

# Compiled files
*.exe
*.dll
*.so
*.dylib

# Miscellaneous
.DS_Store
*.log
*.swp
*.swo
*.bak

# Project dirs
/postgres-data/
/secure/
/logs/
/venv/
/.venv/
*.bkp
*.dtmp

# Compress files
*.tar
*.gz
*zip
/function/.env
package-lock.json
node_modules/
/function/nginx/certbot/conf/.certbot.lock
/function/nginx/certbot/conf/accounts/acme-v02.api.letsencrypt.org/directory/0ae0b42e5841322c4fff3fba40f0262d/private_key.json
/function/nginx/certbot/conf/accounts/acme-v02.api.letsencrypt.org/directory/0ae0b42e5841322c4fff3fba40f0262d/regr.json
/function/nginx/certbot/conf/accounts/acme-v02.api.letsencrypt.org/directory/0ae0b42e5841322c4fff3fba40f0262d/meta.json
